  .CustomInputNumberRoot {
      display: inline-flex;
      flex-direction: row;
      padding: 4px;
  }

  .CustomInputNumberItem {
      flex: 1;
      width: 46px;
      height: 46px;
      margin: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-style: solid;
      border-width: 1px;
      border-radius: 5px;
  }

  .CustomInputNumberContent {
      @extend .CustomInputNumberItem;
      border-color: DarkGrey;
      color: Grey;
      font-size: 16px;
      text-align: center;
      padding: 0px;
  }

  .CustomInputNumberBtn {
      @extend .CustomInputNumberItem;
      border-color: #87CEEB;
      font-size: 48px;
      color: #87CEEB;
      font-family: "Courier New";
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  /* Works for Chrome, Safari, Edge, Opera */
  .CustomInputNumberContent::-webkit-outer-spin-button,
  .CustomInputNumberContent::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  /* Works for Firefox */
  .CustomInputNumberContent[type="number"] {
      -moz-appearance: textfield;
  }
