.RoomAllocationTitle {
    font-size: 16px;
    margin-bottom: 10px;
}

.RoomAllocationGuestLeft {
    background-color: lightcyan;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    color: gray;
}

.RoomAllocationHR {
    border-top: 1px solid lightgray;
}